CROMA_base.pt
CROMA_large.pt
# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Secrets and environment variables
.env
.streamlit/secrets.toml

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Local data
data/

# Machine learning models
*.pkl
*.joblib

CROMA_base.pt