# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Secrets and environment variables
.env
.streamlit/secrets.toml

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Local data
data/

# Machine learning models
*.pkl
*.joblib


# dummy files

docs.txt

## debug files
debug_db.py
debug_insert.py
debug_register.py
test_api.py
test_detection_api.py
get_supabase_detections.py
insert_supabase_detection.py
postman_collection.json


# Test and cache
.pytest_cache/

# Documentation
docs.md

# Node modules (frontend)
node_modules/

CHANGE_DETECTION_API.md
#model
CROMA_base.pt